
@{
    ViewBag.Title = "Thong tin khach hang";
}

<h2>Thong tin khach hang</h2>

<div class ="alert alert-danger">
    <p>Ma so:@ViewBag.Customer.CustomerId</p>
    <p>ho va ten:@ViewBag.Customer.FirstName @ViewBag.Customer.LastName</p>
    <p>Ma so:@ViewBag.Customer.Address</p>
    <p>Ma so:@ViewBag.Customer.YearOfBirth</p>
</div>

